html, body {
  height: 100%;
  width: 100%;
}
.btn{
  background: red;
  color: black;
}

.social .btn{
  display: inline-block;  
}

.social .btn a{
  text-decoration: none;
  color:black;
  font-size: 18px;
}